@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white antialiased overflow-x-hidden;
    background: #000000;
    min-height: 100vh;
    width: 100vw;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  section {
    @apply px-6 py-20 md:py-32 overflow-hidden;
  }

  .container {
    @apply max-w-7xl mx-auto;
  }
}
